{% extends 'partials/base.html' %}
{% block title %} Password Reset Done Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white  p-3">
                <h3>Password Reset Done page</h3>
                <hr>
                <div class="alert alert-danger-info">
                    <h4>지정하신 메일 주소로 메일이 발송되었습니다. 변경을을 하기 위해 필요한 절차에 따라 패스워드를 리셋합니다</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}